In [8]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [7]:
num=4
for i in range(1,5):
    for j in range(1,5):
        print(num,end=" ")
    num-=1
    print()

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [4]:

for i in range(1,5):
    for j in range(1,i+1):
        print(1,end=" ")
    print()

1
1 1
1 1 1
1 1 1 1

In [9]:
count=1
for i in range(1,5):
    for j in range(1,i+1):
        print(count,end=" ")
        count + = 1
    print()

1
2 3
4 5 6
7 8 9 10

In [6]:
for i in range(1,5):
    num=10
    for j in range(1,5):
        print(num,end=" ")
        num + = 1
    print()

10 11 12 13
10 11 12 13
10 11 12 13
10 11 12 13

In [11]:
for i in range(1,5):
    for j in range(1,5-i+1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [20]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print(5-i,end=" ")
    print()

4 4 4 4
3 3 3
2 2
1

In [23]:
for i in range(1,5):
    for j in range(1,5-i+1):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [25]:
count=1
for i in range(1,5):
    for j in range(1,5-i+1):
        print(count,end=" ")
        count+=1
    print()

1 2 3 4
5 6 7
8 9
10

In [27]:
char='a'
for i in range(1,5):
    for j in range(1,5-i+1): 
        print(char,end=" ")
        char=chr(ord(char)+1)
        count+=1
    print()

a b c d
e f g
h i
j

In [29]:
for i in range(1,5):
    count=7
    for j in range(1,5-i+1):
        print(count,end=" ")
        count+=1
    print()

7 8 9 10
7 8 9
7 8
7

In [34]:
for i in range(5,1,-1):
    for j in range(1,i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [35]:
count=20
for i in range(1,5):
    for j in range(5,i,-1):
        print(count,end=" ")
        count+=1
    print()

20 21 22 23
24 25 26
27 28
29

In [41]:
char='D'
for i in range(1,5):
    for j in range(1,5-i+1): 
        print(char,end=" ")
        char=chr(ord(char)+1)
 
    print()

D E F G
H I J
K L
M

In [45]:
char='z'
for i in range(1,4):
    for j in range(1,4-i+1): 
        print(char,end=" ")
    char=chr(ord(char)-1)

    print()

z z z
y y
x

In [60]:
count=4
for i in range(1,5):
    for j in range(1,i+1):
        print(count,end=" ")
        count+=2
    print()

4
6 8
10 12 14
16 18 20 22

In [63]:
for i in range(1,5):
    count=1
    for j in range(1,i+1):
        num=2**count
        count+=1
        print(num,end=" ")
    print()

2
2 4
2 4 8
2 4 8 16

In [67]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(1,4):
    for j in range(4,i,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*