In [2]:
for i in range(1,5):
    for s in range(1,i):
        print(" ",end=" ")
    for j in range(1,5):
        print("*",end=" ")
    print()

* * * *
  * * * *
    * * * *
      * * * *

In [22]:
for i in range(1,6):
    for j in range(1,5):
        if j==1   or j==4 or i==1 or i==5 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*     *
*     *
*     *
* * * *

In [30]:
row=6
col=6

for i in range(1,row):
    char="A"
    for j in range(1,i+1):
        print(char,end=" ")
        char=chr(ord(char)+1)  
    print()

A
A B
A B C
A B C D
A B C D E

In [32]:
row=6
col=6
char="A"
for i in range(1,row):
    for j in range(1,i+1):
        print(char,end=" ")
    char=chr(ord(char)+1)  
    print()

A
B B
C C C
D D D D
E E E E E

In [40]:
row=6
col=6
for i in range(1,row):
    char="E"
    char=chr(ord(char)-i)
    for j in range(1,i+1):
        char=chr(ord(char)+1) 
        print(char,end=" ")   
    print()

E
D E
C D E
B C D E
A B C D E

In [261]:
row=6
col=6
for i in range(1,row):
    for s in range(row,i,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")   
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [48]:
row=6
col=6
for i in range(1,row):
    for s in range(row-i,1,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")   
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [55]:
row=6
col=6
for i in range(1,row):
    for s in range(1,i):
        print(" ",end=" ")
    for j in range(1,col-i+1):
        print(j,end=" ")   
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [59]:
row=6
col=6
char="A"
for i in range(1,row):
    char="A"
    for s in range(1,i):
        print(" ",end=" ")
    for j in range(1,col-i+1):
        print(char,end=" ")
        char=chr(ord(char)+1)
    print()

A B C D E
  A B C D
    A B C
      A B
        A

In [68]:
row=6
col=6
for i in range(row,1,-1):
    for s in range(1,i):
        print("",end=" ")
    for j in range(1,col):
        print(j,end=" ")   
    print()

     1 2 3 4 5
    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5

In [67]:
row=6
col=6
for i in range(row,1,-1):
    for s in range(1,i):
        print("",end=" ")
    for j in range(1,col):
        print("*",end=" ")   
    print()

     * * * * *
    * * * * *
   * * * * *
  * * * * *
 * * * * *

In [66]:
row=6
col=6

for i in range(row,1,-1):
    char="A"
    for s in range(1,i):
        print("",end=" ")
    for j in range(1,col):
        print(char,end=" ")
        char=chr(ord(char)+1)
    print()

     A B C D E
    A B C D E
   A B C D E
  A B C D E
 A B C D E

In [84]:
row=8
col=8
for i in range(1,row):
    for s in range(col-i,1,-1):
        print("",end=" ")
    for j in range(1,i+1):
        if i%2!=0:
            print("*",end=" ")   
    print()

      *

    * * *

  * * * * *

* * * * * * *

In [239]:
row=8
col=8
for i in range(1,row):
    for s in range(col-i,1,-1):
        print("",end=" ")
    for j in range(1,i+1):
        if i%2!=0:
            if i==1 or i==row-1 or j==1 or j==i:
                print("*",end=" ")
            else:
                print(" ",end=" ")   
    print()

      *

    *   *

  *       *

* * * * * * *

In [116]:
row=8
col=8
for i in range(1,row):
    for s in range(1,i):
        print("",end=" ")
    for j in range(col,i,-1):
        if i%2!=0:
            print("*",end=" ")   
    print()

* * * * * * *

  * * * * *

    * * *

      *

In [126]:
row=8
col=8
for i in range(1,row-1):
    for s in range(col-i,1,-1):
        print("",end=" ")
    for j in range(1,i+1):
        if i%2!=0:
            print("*",end=" ")   
    print()
for i in range(1,row):
    for s in range(1,i):
        print("",end=" ")
    for j in range(col,i,-1):
        if i%2!=0:
            print("*",end=" ")   
    print()

      *

    * * *

  * * * * *

* * * * * * *

  * * * * *

    * * *

      *

In [141]:
row=5
col=5
char="A"
for i in range(1,row):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(2,row):
    for j in range(col,i,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [142]:
row=5
col=5
for i in range(1,row):
    for s in range(i,col):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(2,row):
    for s in range(1,i+1):
        print(" ",end=" ")
    for j in range(col,i,-1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
    * * *
      * *
        *

In [147]:
row=6
col=6
for i in range(1,row):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [153]:
row=6
col=6
for i in range(row,1,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [162]:
row=6
col=6
for i in range(1,row):
    for j in range(1,i+1):
        if i==j or j==1 or i==row-1:
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [183]:
row=6
col=6
for i in range(1,row):
    for j in range(1,col-i+1):
        if i+j==row or i==1 or j==1 :
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

1 2 3 4 5
1     4
1   3
1 2
1

In [194]:
row=6
col=6

for i in range(1,row):
    count=i
    for s in range(col,i,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(count,end=" ")
        count+=1
    count-=2
    for j in range(1,i):
        print(count,end=" ")
        count-=1
    print()

          1
        2 3 2
      3 4 5 4 3
    4 5 6 7 6 5 4
  5 6 7 8 9 8 7 6 5

In [195]:
row=6
col=6

for i in range(1,row):
    count=i
    for s in range(col,i,-1):
        print(" ",end=" ")
    for l in range(1,i+1):
        print(count,end=" ")
        count+=1
    count-=2
    for r in range(1,i):
        print(count,end=" ")
        count-=1
    print()

          1
        2 3 2
      3 4 5 4 3
    4 5 6 7 6 5 4
  5 6 7 8 9 8 7 6 5

In [250]:
row=10
col=10

for i in range(1,row):
    count=1
    for s in range(col,i-1,-1):
        print("",end=" ")
    for j in range(1,i+1):
        if i%2!=0:
            if  i==row-1 or j==1 or j==i:
                print(count,end=" ")
            else:
                print(" ",end=" ")  
            
        count+=1
    print()

          1

        1   3

      1       5

    1           7

  1 2 3 4 5 6 7 8 9

In [260]:
row=5
col=5

for i in range(1,row):
    count=1
    for s in range(1,col-i+1):
        print(" ",end=" ")
    for j in range(1,2*i):
        if  i==row-1 or j==1 or j==2*i-1:
            print(count,end=" ")
        else:
            print(" ",end=" ") 
        count+=1
    print()

        1
      1   3
    1       5
  1 2 3 4 5 6 7

In [265]:
num=5
for i in range(1,num+1):
    for s in range(i,num):
        print(" ",end=" ")
    for j in range(1,2*i):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [270]:
num=5
for i in range(1,num+1):
    for j in range(1,i+1):
        if j%2==0:
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [281]:
num=5
for i in range(1,num+1):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [289]:
num=5
for i in range(1,num+1):
    for s in range(1,i):
        print(" ",end=" ")
    for j in range(1,2*(num-i)):
        print("*",end=" ")
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [292]:
num=4
for i in range(1,num+1):
    for s in range(1,i):
        print(" ",end=" ")
    for j in range(1,2*(num-i)):
        print(j,end=" ")
        j+=1
    print()

1 2 3 4 5
  1 2 3
    1

In [308]:
num=4
for i in range(1,num+1):
    for s in range(1,num-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end=" ")
        j+=1
    print()

   *
  * *
 * * *
* * * *

In [326]:
num=5
for i in range(1,num+1):
    count=i
    for s in range(1,i):
        print(" ",end="")
    for j in range(i,num+1):
        print(count,end=" ")
        count+=1
    print()

1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5

In [339]:
num=5
for i in range(1,num+1):
    count=i
    for s in range(1,num-i+1):
        print(" ",end="")
    for j in range(1,i+1):
        print(count,end="")
        count-=1
    count+=2
    for k in range(1,i):
        print(count,end="")
        count+=1
    print()

    1
   212
  32123
 4321234
543212345

In [353]:
num=5
for i in range(1,num+1):
    for s in range(1,num-i+1):
        print(" ",end="")
        
    for j in range(1,i+1):
        if i==num or j==1 or j==i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
        
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [355]:
num=5
for i in range(1,num+1):
    for s in range(1,num-i+1):
        print(" ",end="")
        
    for j in range(1,i+1):
        if i==num or j==1 or j==i:
            print(j,end=" ")
        else:
            print(" ",end=" ")
        
    print()

    1
   1 2
  1   3
 1     4
1 2 3 4 5

In [362]:
num=6
for i in range(1,num+1):
    for j in range(1,num-i+1):
        if i==1 or j==1 or i+j==num :
            print(j,end=" ")
        else:
            print(" ",end=" ")
        
    print()

1 2 3 4 5
1     4
1   3
1 2
1

In [482]:
num=5
for i in range(1,num+1):
    for s in range(i,num):
        print(" ",end=" ")
    for j in range(1,2*i):
        print("*",end=" ")
    print()
for i in range(1,num+1):
    for s in range(1,i+1):
        print(" ",end=" ")
    for j in range(1,2*(num-i)):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [484]:
num=5
for i in range(1,num+1):
    for s in range(i,num):
        print(" ",end=" ")
    for j in range(1,2*i):
        print(j,end=" ")
    print()
for i in range(1,num):
    for s in range(1,i+1):
        print(" ",end=" ")
    for j in range(1,2*(num-i)):
        print(j,end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [481]:
num=5

for i in range(1,num+1):
    for s in range(1,i):
        print(" ",end=" ")
    for j in range(1,2*(num+1-i)):
        print(j,end=" ")
    print()
for i in range(2,num+1):
    for s in range(i,num):
        print(" ",end=" ")
    for j in range(1,2*i):
        print(j,end=" ")
    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [504]:
num=5
for i in range(1,num+1):
    for j in range(1,num+1):
        if i==1 or j==1 or i==num or j==num:
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [516]:
num=5
for i in range(1,num+1):
    for s in range(i,num):
        print(" ",end="")
        
    for j in range(1,i+1):
        if j==1 or j==i:
            print("*",end=" ")
        else:
            print(" ",end=" ")   
    print()
    
for i in range(1,num+1):
    for s in range(1,i+1):
        print(" ",end="")
    for j in range(i,num):
        if j==4 or j==i :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *